name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Workflow is running successfully!"
[![CI](https://github.com/poojal-iit/problems/actions/workflows/ci.yml/badge.svg)]
Welcome to my project...
